/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
--primary: #ff6600;
--secondary: #ffad84;

--text: #49322a;

--white: white;
--gray: #eee;
}

html {
    background: linear-gradient( to right top, var(--primary), var(--secondary));
    color: var(--text);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
